.DS_Store
node_modules/
dist/
build/
stocklens-new/
# shared/
# stock/
# scanner/
Goddown/
stockLens/
myApp/


stocklens_prisma.sqlite/
server/receipts/


# .gitignore
shared/data/stock/*.sqlite
shared/data/stock/*.sqlite-*
server/server-scanner/prisma/*.db
server/server-scanner/prisma/*.sqlite
server/server-scanner/prisma/*.db-*
server/server-scanner/prisma/*.sqlite-*


# logs / temp
*.log

# IDE
.vscode/
.idea/

# Firebase credentials
server/server-scanner/firebase-service-account.json


stocklens_prisma.sqlite
server/server-scanner/prisma/*.db
server/server-scanner/prisma/*.sqlite
server/server-scanner/prisma/*.db-*